// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.p-overflow-hidden {
  overflow: scroll;
}

.p-dialog-header {
  background: linear-gradient(#f4f5f8, #f1f3f6) !important;
}

.p-button {
  &:enabled,
  &:focus {
    box-shadow: 0 0 0 0 !important;
  }
}

.p-tabview-header {
  &:not(:last-child) {
    margin-right: 3rem !important;
  }
}

.p-tabview {
  .p-tabview-nav {
    li {
      &.p-highlight {
        .p-tabview-nav-link {
          background-color: #e4f3ff;
        }
      }
      .p-tabview-nav-link {
        transition: all 0.2s;
        padding: 0;
        &:not(.p-disabled) {
          &:focus {
            box-shadow: 0 0 0 0;
          }
        }
      }
    }

    @include responsive(tablet-portrait) {
      display: block !important;
    }
  }

  &-panels {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.p-tooltip-arrow {
  display: none !important;
}

.p-tooltip-text {
  background-color: rgb(251, 251, 251);
  color: rgb(44, 44, 44);
  width: 100% !important;
  display: block !important;
  text-align: center;
  animation: bounce-in 0.3s;
  padding: 0.1rem 0.5rem !important;
  font-weight: bold;
  font-size: 1.2rem !important;
  transition: 0.1s;
  border: 1px solid rgb(216, 216, 216);
}
