.popup {
  &-header,
  &-footer {
    border-radius: 1rem;
  }

  &-container {
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    border-radius: 1rem;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
    @include responsive(tablet-portrait) {
      width: 85% !important;
    }

    &.popup-lg {
      width: 65%;
    }

    &.popup-xl {
      width: 80%;
    }

    h2 {
      font-size: 2rem;
      font-weight: 500;
    }

    // scrollbar
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color-warning;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &-header {
    button {
      &:active,
      &:focus {
        border-color: 0 !important;
        box-shadow: 0 0 0 0 !important;
      }

      span {
        &.pi-times {
          font-size: 1.5rem;
        }
      }
    }
  }
}
